<h1>Junk Droor</h1>
<h2>Render order upon the chaos</h2>
<% if (currentUser) { %>
  <p>Welcome <%=currentUser.username%></p>
  <form action="/users/session?_method=DELETE" method="POST">
    <input type="submit" value="Log out">
  </form>
<% } else { %>
  <a href="/users/signup">Sign up</a>
  <a href="/users/login">Log in</a>
<% } %>
