<header>
  <div id="header-logo">
    <h1><a href="/">Junk Droor</a></h1>
    <h2>Render order upon the chaos</h2>
  </div>
  <div id="header-user">
    <% if (currentUser) { %>
      <p>Welcome <%=currentUser.username%></p>
      <form action="/users/session?_method=DELETE" method="POST">
        <input class="button" type="submit" value="Log out">
      </form>
    <% } else { %>
      <a class="button header-signin" href="/users/signup">Sign up</a>
      <a class="button" href="/users/login">Log in</a>
    <% } %>
  </div>
</header>
