<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <% if (currentUser) { %>
    <a href="/drawers/new">Create New Drawer</a>
    <ul>
      <% for (const drawer of drawers) { %>
        <li><%=drawer.name%></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
