<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action="/drawers" method="POST">
      <label for="name"></label><input type="text" id="name" name="name" placeholder="Name"></br>
      <label for="location"></label><input type="text" id="location" name="location" placeholder="Location"></br>
      <input type="submit" value="Create">
    </form>
  </body>
</html>
