<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Log In</h1>
    <a href="/">Back to Index</a>
    <form action="/users/login" method="POST">
      <label for="username">User Name:</label>
      <input type="text" name="username" required/><br>
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <br>
      <input type="submit" class="button" value="Submit">
    <form>
  </body>
</html>
